<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959195462156-8f7m8pq0p335q1a8v8m68pfqrsnnrrfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959195462156-8f7m8pq0p335q1a8v8m68pfqrsnnrrfg</string>
	<key>API_KEY</key>
	<string>AIzaSyCqGeze21OW-u55y38-tkiEn7x_auaorDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>959195462156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>naquinojr.Bopomofo-Studio.staging</string>
	<key>PROJECT_ID</key>
	<string>bopomofo-studio</string>
	<key>STORAGE_BUCKET</key>
	<string>bopomofo-studio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959195462156:ios:12b7f926ecc8e554f24c29</string>
</dict>
</plist>