//
//  Release.xcconfig
//  Bopomofo Studio
//
//  Created by Nelson Aquino Jr. on 11/13/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ARCHS[sdk=iphonesimulator*] = x86_64

ENVIRONMENT = RELEASE
MIXPANEL_KEY = e98128b594e3730b7d4320bc2ebbe01a
ONESIGNAL_APP_ID = fd090f88-51c2-477b-9cb9-653449324df7
GOOGLE_PLIST = GoogleService-Info.naquinojr.Bopomofo-Studio
