//
//  Staging.xcconfig
//  Bopomofo Studio
//
//  Created by Nelson Aquino Jr. on 11/13/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

ENVIRONMENT = STAGING
MIXPANEL_KEY = 09c1f6fb2979aaea89ebbf694258c5b3
ONESIGNAL_APP_ID = 4177f5b6-48ec-4ba6-990f-f7a777e384b8
GOOGLE_PLIST = GoogleService-Info.naquinojr.Bopomofo-Studio.staging
OPEN_AI_KEY = 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
